amqp==5.2.0
annotated-types==0.6.0
anyio==4.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
blinker==1.7.0
Brotli==1.1.0
bs4==0.0.2
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cssselect2==0.7.0
distro==1.9.0
Flask==3.0.2
fonttools==4.49.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.3
httpx==0.26.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
kombu==5.3.5
markdown2==2.4.12
MarkupSafe==2.1.5
openai==1.12.0
pillow==10.2.0
prompt-toolkit==3.0.43
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydyf==0.8.0
pyphen==0.14.0
python-dateutil==2.8.2
python-dotenv==1.0.1
redis==5.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
tinycss2==1.2.1
tqdm==4.66.2
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
weasyprint==61.0
webencodings==0.5.1
Werkzeug==3.0.1
youtube-transcript-api==0.6.2
zopfli==0.2.3
